{% extends 'base.html.twig' %}

{% block title %}Piece
{% endblock %}

{% block body %}

<img class="imgpiecedetails" src="/uploads/images/piececover/{{ piece.imageBig }}" alt="{{piece.title}}">

<div class="pieceplaycorpus">
	<h1>{{piece.title}}</h1>

	<p> <strong>Genre:</strong> {{piece.genre.name}}</p>


	<p><strong>Résumé:</strong> <br> {{piece.description}}</p>

	<div class="blockactesbutton">
	{% for acte in piece.actes %}
    <h5 class="h5pieceplayact"> <a href="{{ path('app_piece_play', {'piece_slug': piece.slug, 'acte_slug': acte.slug, 'sentence_step': acte.sentences.0.step}) }}" class="button-29">{{acte.title}}</a></h5>
	{% endfor %}
	</div>
</div>

{% endblock %}
