{% extends 'base.html.twig' %}

{% block title %}Piece
{% endblock %}

{% block body %}

	<pre>
        {{ dump(piece) }}
    </pre>

<img src="/uploads/images/piececover/{{ piece.image }}" alt="{{piece.title}}">

	<h1>{{piece.title}}</h1>

	<p>{{piece.description}}</p>

	{# <p>{{piece.genres.0.name}}</p> #}

	{% for acte in piece.actes %}
    <h5>{{acte.title}}</h5>
		<a href="{{ path('app_piece_play', {'piece_slug': piece.slug, 'acte_slug': acte.slug, 'sentence_step': acte.sentences.0.step}) }}" class="btn btn-primary">Voir cet acte</a>
	{% endfor %}


{% endblock %}
