{% extends 'base.html.twig' %}

{% block title %}Genre
{% endblock %}

{% block body %}

	<pre>
        {{ dump(genres) }}
    </pre>

	{% for genre in genres %}

		<h2>{{genre.name}}</h2>

		{% for piece in genre.pieces %}

			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{piece.title}}</h5>
					<p class="card-text">{{piece.description}}</p>
					<a href="{{ path('app_piece_show', {'slug':piece.slug}) }}" class="btn btn-primary">Assister à la pièce</a>
				</div>
			</div>

		{% endfor %}

	{% endfor %}


{% endblock %}
